<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <compilation debug="true"/>
   
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="KryptonGridService.WCFServices">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/KryptonGridService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="KryptonGridService.IWCFServices" bindingConfiguration="b1" behaviorConfiguration="web"></endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>-->

      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="b1" maxReceivedMessageSize="2147483647" sendTimeout="00:20:00" receiveTimeout="00:20:00" closeTimeout="00:20:00" openTimeout="00:20:00" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"></security>
          
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Xml" helpEnabled="true"></webHttp>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
  </system.serviceModel>
  <appSettings>
    <add key="BaseKryptonDirectory" value="C:\Krypton\"/>
  </appSettings>
</configuration>
